.dashboard {
  padding: 20px; /* Add padding as needed */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.dashboard-heading {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 40px;

}

.grid{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.dashboard-card{
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .dashboard-card {
    width: calc(100% - 30px); 
  }
}

.dashboard-link {
  color: inherit;
  text-decoration: none;
  font-size: inherit; 
}

.dashboard-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px 8px 0 0;
}