.chartContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.chart-description {
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 20px; 
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.chart {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.pie-footer {
  text-align: center;
  margin-top: 20px;
}
